In [8]:
from vnpy.app.script_trader import init_cli_trading
from vnpy.gateway.ctp import CtpGateway
from vnpy.gateway.sinopac import SinopacGateway
from vnpy.trader.utility import load_json
import pandas as pd

In [2]:
# 连接到服务器
# setting = load_json("connect_ctp.json")
setting = {
        "身份證字號": "PAPIUSER08",
        "密碼": "2222",
        "憑證檔案路徑": "",
        "憑證密碼": "",
        # "環境": ["正式", "模擬"],
        "環境": "模擬",
        "預設現貨帳號": "0",
        "預設期貨帳號": "0",
    }
# engine = init_cli_trading([CtpGateway])
# engine.connect_gateway(setting, "CTP")
engine = init_cli_trading([SinopacGateway])
engine.connect_gateway(setting, "Sinopac")

2021-02-20 22:49:50.253044	使用永豐金證券 模擬 平台
Response Code: 0 | Event Code: 0 | Info: host '218.32.76.102:80', IP 218.32.76.102:80 (host 1 of 1) (host connection attempt 1 of 1) (total connection attempt 1 of 1) | Event: Session up
2021-02-20 22:49:50.548675	Download 商品檔 IND 完成
2021-02-20 22:49:50.555513	登入成功. [PAPIUSER08]
2021-02-20 22:49:50.555558	期貨帳號: [0] - F002000-1302606 PAPIUSER08
2021-02-20 22:49:50.555570	期貨帳號: [1] - F002000-9135765 PAPIUSER08
2021-02-20 22:49:50.555579	期貨帳號: [2] - F002000-0373377 PAPIUSER08
2021-02-20 22:49:50.555588	期貨帳號: [3] - F002000-9140323 PAPIUSER08
2021-02-20 22:49:50.555596	股票帳號: [0] - 9A95-7383192 PAPIUSER08
2021-02-20 22:49:50.555601	股票帳號: [1] - 9A95-7382096 PAPIUSER08
2021-02-20 22:49:50.555606	股票帳號: [2] - 9A95-7385860 PAPIUSER08
2021-02-20 22:49:50.555616	***預設 現貨下單帳號 - [0] F002000-1302606 PAPIUSER08
2021-02-20 22:49:50.555622	***預設 期貨下單帳號 - [0] F002000-1302606 PAPIUSER08
2021-02-20 22:49:50.705729	庫存部位查詢
2021-02-20 22:49:50.705759	交易行情 - 連線成功
2021-02-20 22:49:57.420933	Download 商品檔 STK 完成
2021-02-20 22:49:58.397761	Download 商品檔 FUT 完成
2021-02-20 22:49:58.998859	Download 商品檔 OPT 完成

In [3]:
# 查询所有合约
all_ctst = engine.get_all_contracts(use_df=True)

In [4]:
all_ctst

,gateway_name,symbol,exchange,name,product,size,pricetick,min_volume,stop_supported,net_position,history_data,option_strike,option_underlying,option_type,option_expiry,option_portfolio,option_index,vt_symbol
0,Sinopac,BRFE1,Exchange.TFE,布蘭特原油期貨202104,Product.FUTURES,200,0.01,1,False,True,False,0.0,,None,None,,,BRFE1.TFE
1,Sinopac,BRFF1,Exchange.TFE,布蘭特原油期貨202105,Product.FUTURES,200,0.01,1,False,True,False,0.0,,None,None,,,BRFF1.TFE
2,Sinopac,BRFL1,Exchange.TFE,布蘭特原油期貨202111,Product.FUTURES,200,0.01,1,False,True,False,0.0,,None,None,,,BRFL1.TFE
3,Sinopac,BRFF2,Exchange.TFE,布蘭特原油期貨202205,Product.FUTURES,200,0.01,1,False,True,False,0.0,,None,None,,,BRFF2.TFE
4,Sinopac,BRFD1,Exchange.TFE,布蘭特原油期貨202103,Product.FUTURES,200,0.01,1,False,True,False,0.0,,None,None,,,BRFD1.TFE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44249,Sinopac,TXO11000O1,Exchange.TFE,臺指選擇權 202103 11000.0P,Product.OPTION,50,0.01,1,False,True,False,11000.0,,OptionType.PUT,None,,,TXO11000O1.TFE
44250,Sinopac,TXO16200I1,Exchange.TFE,臺指選擇權 202109 16200.0C,Product.OPTION,50,0.01,1,False,True,False,16200.0,,OptionType.CALL,None,,,TXO16200I1.TFE
44251,Sinopac,TXO16800O1,Exchange.TFE,臺指選擇權 202103 16800.0P,Product.OPTION,50,0.01,1,False,True,False,16800.0,,OptionType.PUT,None,,,TXO16800O1.TFE
44252,Sinopac,TXO14700E1,Exchange.TFE,臺指選擇權 202105 14700.0C,Product.OPTION,50,0.01,1,False,True,False,14700.0,,OptionType.CALL,None,,,TXO14700E1.TFE
44253,Sinopac,TXO17500Q1,Exchange.TFE,臺指選擇權 202105 17500.0P,Product.OPTION,50,0.01,1,False,True,False,17500.0,,OptionType.PUT,None,,,TXO17500Q1.TFE

In [5]:
all_ctst_dict={**all_ctst}

In [ ]:
# 查询资金
engine.get_all_accounts(use_df=True)

In [28]:
# 查询持仓
engine.get_all_positions(use_df=True)

,gateway_name,symbol,exchange,direction,volume,frozen,price,pnl,yd_volume,vt_symbol,vt_positionid
0,Sinopac,00672L,Exchange.TSE,Direction.LONG,5640,0,0.03,-168066.0,5640,00672L.TSE,00672L.TSE.多

In [29]:
# 查询活动委托
engine.get_all_active_orders(use_df=True)

In [32]:
# 订阅行情
# engine.subscribe(["600036.SSE"])
engine.subscribe(["2330.TSE","2303.TSE"])

In [33]:
# 查询行情
# engine.get_tick("600036.SSE", use_df=True)
# engine.get_tick("2330.TSE", use_df=True)
engine.get_ticks(["2330.TSE", "2303.TSE"], use_df=True)

,gateway_name,symbol,exchange,datetime,name,volume,open_interest,last_price,last_volume,limit_up,...,bid_volume_2,bid_volume_3,bid_volume_4,bid_volume_5,ask_volume_1,ask_volume_2,ask_volume_3,ask_volume_4,ask_volume_5,vt_symbol
0,Sinopac,2330,Exchange.TSE,2021-02-19 14:30:00,台積電,50279,0,652.0,0,726.0,...,0,0,0,0,13,0,0,0,0,2330.TSE
1,Sinopac,2303,Exchange.TSE,2021-02-19 14:30:00,聯電,190960,0,57.2,0,64.0,...,0,0,0,0,7,0,0,0,0,2303.TSE

In [ ]:
# 委托下单
vt_orderid = engine.buy("600036.SSE", 32, 1000)
print(vt_orderid)

In [ ]:
# 查询特定委托
engine.get_order(vt_orderid)

In [ ]:
# 委托撤单
engine.cancel_order(vt_orderid)

In [61]:
engine.subscribe

In [4]:
ctst_2330= engine.main_engine.gateways['Sinopac'].api.Contracts.Stocks.TSE['TSE2330']

In [16]:
kbar = engine.main_engine.gateways['Sinopac'].api.kbars(ctst_2330,start='2021-02-18',end='2021-02-19')

In [17]:
pd.to_datetime(kbar.ts)

DatetimeIndex(['2021-02-19 09:01:00', '2021-02-19 09:02:00',
               '2021-02-19 09:03:00', '2021-02-19 09:04:00',
               '2021-02-19 09:05:00', '2021-02-19 09:06:00',
               '2021-02-19 09:07:00', '2021-02-19 09:08:00',
               '2021-02-19 09:09:00', '2021-02-19 09:10:00',
               ...
               '2021-02-19 13:21:00', '2021-02-19 13:22:00',
               '2021-02-19 13:23:00', '2021-02-19 13:24:00',
               '2021-02-19 13:25:00', '2021-02-19 13:26:00',
               '2021-02-19 13:27:00', '2021-02-19 13:28:00',
               '2021-02-19 13:29:00', '2021-02-19 13:30:00'],
              dtype='datetime64[ns]', length=270, freq=None)

In [8]:
import pandas as pd 
df = pd.DataFrame({**engine.main_engine.gateways['Sinopac'].api.kbars(ctst_2330
)})
# df = {**engine.main_engine.gateways['Sinopac'].api.kbars(ctst_2330)}



# for item in df:

In [9]:
{**df}

{'Open': 0      656.0
 1      653.0
 2      653.0
 3      655.0
 4      656.0
        ...
 265    653.0
 266    653.0
 267    653.0
 268    653.0
 269    652.0
 Name: Open, Length: 270, dtype: float64,
 'ts': 0      1613725260000000000
 1      1613725320000000000
 2      1613725380000000000
 3      1613725440000000000
 4      1613725500000000000
               ...
 265    1613741160000000000
 266    1613741220000000000
 267    1613741280000000000
 268    1613741340000000000
 269    1613741400000000000
 Name: ts, Length: 270, dtype: int64,
 'Volume': 0      4277
 1      1086
 2       625
 3       459
 4       590
        ...
 265       0
 266       0
 267       0
 268       0
 269    4615
 Name: Volume, Length: 270, dtype: int64,
 'Close': 0      654.0
 1      654.0
 2      655.0
 3      656.0
 4      656.0
        ...
 265    653.0
 266    653.0
 267    653.0
 268    653.0
 269    652.0
 Name: Close, Length: 270, dtype: float64,
 'Low': 0      653.0
 1      653.0
 2      653.0
 3      654.0
 4      655.0
        ...
 265    653.0
 266    653.0
 267    653.0
 268    653.0
 269    652.0
 Name: Low, Length: 270, dtype: float64,
 'High': 0      656.0
 1      654.0
 2      655.0
 3      656.0
 4      657.0
        ...
 265    653.0
 266    653.0
 267    653.0
 268    653.0
 269    652.0
 Name: High, Length: 270, dtype: float64}

In [36]:
for ix, row in df.iterrows():
    print(ix, "\n",  pd.to_datetime(row.ts))

0
 2021-02-19 09:01:00
1
 2021-02-19 09:02:00
2
 2021-02-19 09:03:00
3
 2021-02-19 09:04:00
4
 2021-02-19 09:05:00
5
 2021-02-19 09:06:00
6
 2021-02-19 09:07:00
7
 2021-02-19 09:08:00
8
 2021-02-19 09:09:00
9
 2021-02-19 09:10:00
10
 2021-02-19 09:11:00
11
 2021-02-19 09:12:00
12
 2021-02-19 09:13:00
13
 2021-02-19 09:14:00
14
 2021-02-19 09:15:00
15
 2021-02-19 09:16:00
16
 2021-02-19 09:17:00
17
 2021-02-19 09:18:00
18
 2021-02-19 09:19:00
19
 2021-02-19 09:20:00
20
 2021-02-19 09:21:00
21
 2021-02-19 09:22:00
22
 2021-02-19 09:23:00
23
 2021-02-19 09:24:00
24
 2021-02-19 09:25:00
25
 2021-02-19 09:26:00
26
 2021-02-19 09:27:00
27
 2021-02-19 09:28:00
28
 2021-02-19 09:29:00
29
 2021-02-19 09:30:00
30
 2021-02-19 09:31:00
31
 2021-02-19 09:32:00
32
 2021-02-19 09:33:00
33
 2021-02-19 09:34:00
34
 2021-02-19 09:35:00
35
 2021-02-19 09:36:00
36
 2021-02-19 09:37:00
37
 2021-02-19 09:38:00
38
 2021-02-19 09:39:00
39
 2021-02-19 09:40:00
40
 2021-02-19 09:41:00
41
 2021-02-19 09:42:00
42
 2021-02-19 09:43:00
43
 2021-02-19 09:44:00
44
 2021-02-19 09:45:00
45
 2021-02-19 09:46:00
46
 2021-02-19 09:47:00
47
 2021-02-19 09:48:00
48
 2021-02-19 09:49:00
49
 2021-02-19 09:50:00
50
 2021-02-19 09:51:00
51
 2021-02-19 09:52:00
52
 2021-02-19 09:53:00
53
 2021-02-19 09:54:00
54
 2021-02-19 09:55:00
55
 2021-02-19 09:56:00
56
 2021-02-19 09:57:00
57
 2021-02-19 09:58:00
58
 2021-02-19 09:59:00
59
 2021-02-19 10:00:00
60
 2021-02-19 10:01:00
61
 2021-02-19 10:02:00
62
 2021-02-19 10:03:00
63
 2021-02-19 10:04:00
64
 2021-02-19 10:05:00
65
 2021-02-19 10:06:00
66
 2021-02-19 10:07:00
67
 2021-02-19 10:08:00
68
 2021-02-19 10:09:00
69
 2021-02-19 10:10:00
70
 2021-02-19 10:11:00
71
 2021-02-19 10:12:00
72
 2021-02-19 10:13:00
73
 2021-02-19 10:14:00
74
 2021-02-19 10:15:00
75
 2021-02-19 10:16:00
76
 2021-02-19 10:17:00
77
 2021-02-19 10:18:00
78
 2021-02-19 10:19:00
79
 2021-02-19 10:20:00
80
 2021-02-19 10:21:00
81
 2021-02-19 10:22:00
82
 2021-02-19 10:23:00
83
 2021-02-19 10:24:00
84
 2021-02-19 10:25:00
85
 2021-02-19 10:26:00
86
 2021-02-19 10:27:00
87
 2021-02-19 10:28:00
88
 2021-02-19 10:29:00
89
 2021-02-19 10:30:00
90
 2021-02-19 10:31:00
91
 2021-02-19 10:32:00
92
 2021-02-19 10:33:00
93
 2021-02-19 10:34:00
94
 2021-02-19 10:35:00
95
 2021-02-19 10:36:00
96
 2021-02-19 10:37:00
97
 2021-02-19 10:38:00
98
 2021-02-19 10:39:00
99
 2021-02-19 10:40:00
100
 2021-02-19 10:41:00
101
 2021-02-19 10:42:00
102
 2021-02-19 10:43:00
103
 2021-02-19 10:44:00
104
 2021-02-19 10:45:00
105
 2021-02-19 10:46:00
106
 2021-02-19 10:47:00
107
 2021-02-19 10:48:00
108
 2021-02-19 10:49:00
109
 2021-02-19 10:50:00
110
 2021-02-19 10:51:00
111
 2021-02-19 10:52:00
112
 2021-02-19 10:53:00
113
 2021-02-19 10:54:00
114
 2021-02-19 10:55:00
115
 2021-02-19 10:56:00
116
 2021-02-19 10:57:00
117
 2021-02-19 10:58:00
118
 2021-02-19 10:59:00
119
 2021-02-19 11:00:00
120
 2021-02-19 11:01:00
121
 2021-02-19 11:02:00
122
 2021-02-19 11:03:00
123
 2021-02-19 11:04:00
124
 2021-02-19 11:05:00
125
 2021-02-19 11:06:00
126
 2021-02-19 11:07:00
127
 2021-02-19 11:08:00
128
 2021-02-19 11:09:00
129
 2021-02-19 11:10:00
130
 2021-02-19 11:11:00
131
 2021-02-19 11:12:00
132
 2021-02-19 11:13:00
133
 2021-02-19 11:14:00
134
 2021-02-19 11:15:00
135
 2021-02-19 11:16:00
136
 2021-02-19 11:17:00
137
 2021-02-19 11:18:00
138
 2021-02-19 11:19:00
139
 2021-02-19 11:20:00
140
 2021-02-19 11:21:00
141
 2021-02-19 11:22:00
142
 2021-02-19 11:23:00
143
 2021-02-19 11:24:00
144
 2021-02-19 11:25:00
145
 2021-02-19 11:26:00
146
 2021-02-19 11:27:00
147
 2021-02-19 11:28:00
148
 2021-02-19 11:29:00
149
 2021-02-19 11:30:00
150
 2021-02-19 11:31:00
151
 2021-02-19 11:32:00
152
 2021-02-19 11:33:00
153
 2021-02-19 11:34:00
154
 2021-02-19 11:35:00
155
 2021-02-19 11:36:00
156
 2021-02-19 11:37:00
157
 2021-02-19 11:38:00
158
 2021-02-19 11:39:00
159
 2021-02-19 11:40:00
160
 2021-02-19 11:41:00
161
 2021-02-19 11:42:00
162
 2021-02-19 11:43:00
163
 2021-02-19 11:44:00
164
 2021-02-19 11:45:00
165
 2021-02-19 11:46:00
166
 2021-02-19 11:47:00
167
 2021-02-19 11:48:00
168
 2021-02-19 11:49:00
169
 2021-02-19 11:50:00
170
 2021-02-19 11:51:00
171
 2021-02-19 11:52:00
172
 2021-02-19 11:53:00
173
 2021-02-19 11:54:00
174
 2021-02-19 11:55:00
175
 2021-02-19 11:56:00
176
 2021-02-19 11:57:00
177
 2021-02-19 11:58:00
178
 2021-02-19 11:59:00
179
 2021-02-19 12:00:00
180
 2021-02-19 12:01:00
181
 2021-02-19 12:02:00
182
 2021-02-19 12:03:00
183
 2021-02-19 12:04:00
184
 2021-02-19 12:05:00
185
 2021-02-19 12:06:00
186
 2021-02-19 12:07:00
187
 2021-02-19 12:08:00
188
 2021-02-19 12:09:00
189
 2021-02-19 12:10:00
190
 2021-02-19 12:11:00
191
 2021-02-19 12:12:00
192
 2021-02-19 12:13:00
193
 2021-02-19 12:14:00
194
 2021-02-19 12:15:00
195
 2021-02-19 12:16:00
196
 2021-02-19 12:17:00
197
 2021-02-19 12:18:00
198
 2021-02-19 12:19:00
199
 2021-02-19 12:20:00
200
 2021-02-19 12:21:00
201
 2021-02-19 12:22:00
202
 2021-02-19 12:23:00
203
 2021-02-19 12:24:00
204
 2021-02-19 12:25:00
205
 2021-02-19 12:26:00
206
 2021-02-19 12:27:00
207
 2021-02-19 12:28:00
208
 2021-02-19 12:29:00
209
 2021-02-19 12:30:00
210
 2021-02-19 12:31:00
211
 2021-02-19 12:32:00
212
 2021-02-19 12:33:00
213
 2021-02-19 12:34:00
214
 2021-02-19 12:35:00
215
 2021-02-19 12:36:00
216
 2021-02-19 12:37:00
217
 2021-02-19 12:38:00
218
 2021-02-19 12:39:00
219
 2021-02-19 12:40:00
220
 2021-02-19 12:41:00
221
 2021-02-19 12:42:00
222
 2021-02-19 12:43:00
223
 2021-02-19 12:44:00
224
 2021-02-19 12:45:00
225
 2021-02-19 12:46:00
226
 2021-02-19 12:47:00
227
 2021-02-19 12:48:00
228
 2021-02-19 12:49:00
229
 2021-02-19 12:50:00
230
 2021-02-19 12:51:00
231
 2021-02-19 12:52:00
232
 2021-02-19 12:53:00
233
 2021-02-19 12:54:00
234
 2021-02-19 12:55:00
235
 2021-02-19 12:56:00
236
 2021-02-19 12:57:00
237
 2021-02-19 12:58:00
238
 2021-02-19 12:59:00
239
 2021-02-19 13:00:00
240
 2021-02-19 13:01:00
241
 2021-02-19 13:02:00
242
 2021-02-19 13:03:00
243
 2021-02-19 13:04:00
244
 2021-02-19 13:05:00
245
 2021-02-19 13:06:00
246
 2021-02-19 13:07:00
247
 2021-02-19 13:08:00
248
 2021-02-19 13:09:00
249
 2021-02-19 13:10:00
250
 2021-02-19 13:11:00
251
 2021-02-19 13:12:00
252
 2021-02-19 13:13:00
253
 2021-02-19 13:14:00
254
 2021-02-19 13:15:00
255
 2021-02-19 13:16:00
256
 2021-02-19 13:17:00
257
 2021-02-19 13:18:00
258
 2021-02-19 13:19:00
259
 2021-02-19 13:20:00
260
 2021-02-19 13:21:00
261
 2021-02-19 13:22:00
262
 2021-02-19 13:23:00
263
 2021-02-19 13:24:00
264
 2021-02-19 13:25:00
265
 2021-02-19 13:26:00
266
 2021-02-19 13:27:00
267
 2021-02-19 13:28:00
268
 2021-02-19 13:29:00
269
 2021-02-19 13:30:00

In [14]:
{*df}

set()

In [45]:
engine.main_engine.gateways['Sinopac'].api.kbars()

AttributeError: 'int' object has no attribute 'dict'

In [64]:
from datetime import datetime
datetime.strptime("{}".format("09:53:00.706928"), "%H:%M:%S.%f").time()

datetime.time(9, 53, 0, 706928)

In [75]:
datetime.strptime("{}".format("20200219"), "%Y%m%d").date().isoformat()

'2020-02-19'

In [78]:
datetime.today().strftime("%Y-%m-%d")

'2021-02-19'